[Desktop Entry]
Type=Application
Name=Fingrom
Comment=Open-source platform-agnostic financial accounting application
Categories=Office;Finance;Utility;
Keywords=Finance;Accounting;Budget;Bills;Transfers;Incomes;Invoices;Payments;Exchange rates;
Icon=com.tercad.fingrom
Exec=fingrom
StartupWMClass=fingrom
X-Purism-FormFactor=Workstation;Mobile;
X-KDE-FormFactors=desktop;tablet;handset;mediacenter;
