<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637490835303-54nnsjspk2nrht9cpaqnfoc0qrvg6fhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637490835303-54nnsjspk2nrht9cpaqnfoc0qrvg6fhu</string>
	<key>API_KEY</key>
	<string>AIzaSyDL6lNmRUV3hw9o5RGA-IopdV631cFEcYw</string>
	<key>GCM_SENDER_ID</key>
	<string>637490835303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tercad.fingrom</string>
	<key>PROJECT_ID</key>
	<string>fingram-9030a</string>
	<key>STORAGE_BUCKET</key>
	<string>fingram-9030a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637490835303:ios:750aa49a672e8d4fc689c2</string>
</dict>
</plist>